<div>
    <h2 id="page-heading">
        <span>Transport Systems</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transport-system" [routerLink]="['/transport-system/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Transport System
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transportSystems?.length === 0">
        <span>No transportSystems found</span>
    </div>
    <div class="table-responsive" *ngIf="transportSystems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Name</span></th>
            <th><span>Valid To Date</span></th>
            <th><span>Mod Date</span></th>
            <th><span>Mod User</span></th>
            <th><span>Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transportSystem of transportSystems ;trackBy: trackId">
                <td><a [routerLink]="['/transport-system', transportSystem.id, 'view' ]">{{transportSystem.id}}</a></td>
                <td>{{transportSystem.code}}</td>
                <td>{{transportSystem.name}}</td>
                <td>{{transportSystem.validToDate | date:'medium'}}</td>
                <td>{{transportSystem.modDate | date:'medium'}}</td>
                <td>{{transportSystem.modUser}}</td>
                <td>
                    <div *ngIf="transportSystem.company">
                        <a [routerLink]="['/company', transportSystem.company?.id, 'view' ]" >{{transportSystem.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transport-system', transportSystem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transport-system', transportSystem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transport-system', { outlets: { popup: transportSystem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
